.about {
  @extend %clearfix;
}
.about__left,
.about__right {
  float: left;
  width: 50%;
  position: relative;
}
.about__left {
  background-color: $c-white;
}
.about__right {
  background-color: $c-beige;
}
.about__triangles {
  position: absolute;
  bottom: 100%;
}