.title {
  font-size: 63px;
  color: $c-main;
  font-family: 'bernier';
  padding: 45px 80px;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  $margin:40px;
  &:after,
  &:before {
    content: '';
    display: block;
    @include absolute-vertical-center;
    background: rgba($c-main, .2);
    width: 22px;
    height: 5px;
  }
  &:after {
    right:$margin;
  }
  &:before {
    left:$margin;
  }
}
.about__section_title {
  @include absolute-horizontal-center;
  position: relative;
}
