script(type="text/javascript" src="vendors/modernizer/modernizer.js")
script(src="js/main.js")
footer.footer
  .footer-container
    .socials.footer__socials
      include ../components/socials
    hr.footer__hr
    p.footer__rights © 2017 Рябинин Владислав, все права защищены