mixin title (title, url, additionClass)
    .title(style=`background-image:url('img/icons/${url}')` class=additionClass)= title

mixin social_link (siteUrl, additionClass, svg)
    a(href=`${siteUrl}` class=additionClass)= svg